@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Courgette&family=Exo+2:wght@227&family=Parisienne&family=Quicksand&family=Satisfy&display=swap");
/*font-family: 'Amatic SC', cursive;
font-family: 'Cinzel', serif;
font-family: 'Courgette', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Parisienne', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Satisfy', cursive;*/
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #524b4b 50%, #302d2d 98%) fixed;
}
.Heading1 {
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 5em;
  background: -webkit-linear-gradient(rgb(155, 35, 235), rgb(189, 34, 189));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Heading2 {
  text-align: center;
  font-family: "Parisienne", cursive;
  text-shadow: 0 0 10px rgb(187, 255, 0);
  color: rgb(224, 207, 57);
  font-size: 2em;
}
.container {
  display: flex;
  width: 100%;
}
.line {
  background-color: blanchedalmond;
  height: 2px;
  width: 100%;
  animation-name: linerail1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes linerail1 {
  0% {
    background-color: Red;
  }
  25% {
    background-color: orange;
  }
  50% {
    background-color: crimson;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: darkmagenta;
  }
}
.Login {
  float: right;
  padding: 0% 0.5%;
  text-decoration: none;
  font-family: "Cinzel", serif;
  color: cornsilk;
  font-size: 1.3em;
  background: linear-gradient(to top, #5c544e8c 10%, #4e4d49d7 98%);
}
.Signup {
  float: right;
  margin-right: 20px;
  padding: 0% 0.5%;
  text-decoration: none;
  font-family: "Cinzel", serif;
  color: rgb(49, 37, 37);
  font-size: 1.3em;
  background: linear-gradient(to top, #dedfc5 10%, #bdbaadd7 98%);
}
.Search-box {
  margin-top: 1.1%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #07070688;
  height: 15px;
  border-radius: 15px;
  padding: 13px 13px;
}
.Search-box:hover > .Search-Text {
  width: 260px;
  padding-left: 0px 6px;
}
.Search-btn {
  color: transparent;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Search-Text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgba(255, 255, 255, 0.986);
  font-size: 16px;
  transition: 0.4s;
  line-height: 10px;
  width: 0px;
}
a:hover {
  background-color: #40c9dfe1;
  transition: 0.5s;
}

ul li {
  display: inline-block;
  line-height: 30px;
}
ul li a {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  padding: 5px 30px;
  text-decoration: none;
}
.StartBar {
  margin-top: 3%;
  background: linear-gradient(to top, #516972 10%, #1a2b2b4d 98%);
  text-align: center;
}
.Page {
  background: linear-gradient(to top, #e5ebebda 10%, #dfe8e9dc 98%);
  font-family: "Quicksand", sans-serif;
  line-height: 30px;
  width: 100%;
}
.Current-Affairs {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left:8%;
  padding:5px 10px;
}
.Feed {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left:27.5%;
  padding:5px 10px;
}
.News {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left:30%;
  padding:5px 10px;
}
.Updates-iframe {
  height: 100%;
  width: 30%;
  border-style: none;
  float: left;
}
.News-iframe {
  height: 100%;
  width: 30%;
  border-style: none;
  float: right;
}
